* {
	font-family: roboto;
}

#whole{
	display:none;
}

a {
	text-decoration: none;
}

#header{
	cursor: pointer;
	font-size: 22px;
	border-bottom: 1px solid black;
}

.container {
	position: center; 
	width: 100%
}

#main {
	margin-top: 3%;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}

.experience-body {
	margin-top: -10px;
}

#directory {
	width: 100%;
	display: flex;
	position: fixed;
	overflow: auto;
	bottom: 0px;
	background-color: white;
}

.colore {
	background-color: yellow;
}

.colorb {
	background-color: palegreen;
}

.colora {
	background-color: skyblue;
}

.colorc {
	background-color: salmon;
}

.selection {
	cursor: pointer;
	font-size: 22px;
	height: 10%;
	width: 20%;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
}

.primary {
	display: inline-block;
}

.selection h4 {
	padding: 25px;
	border: 1;
}

h4 {
	text-align: center;
	vertical-align: middle;
}

#main h4 {
	font-size: 40px;
	text-shadow: 5px 5px 10px gray;
}

h2 {
	text-align: center;
}

.profpic {
	margin-right: 30px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	line-height: 160%;
}

li {
	line-height: 160%;
}

a:hover{
	color: red;
}

.biography-body{
	display: none;
}

.experience-body{
	display: none;
}

.activities-body{
	display: none;
}

.contacts-body{
	display: none;
}
